@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "node_modules/bootstrap/scss/bootstrap";
$bg-img: url('http://dnf1hlp20dppv.cloudfront.net/BG.png');

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

body {
  font-family: 'PingFang SC', sans-serif;
}

.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  background-color: #fff;
  border-color: unset;
  box-shadow: unset;
}

.btn-success:hover {
  border-color: unset;
  box-shadow: unset;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

/*To get rid of the strange x scrolling bar*/
.row {
  margin-right: 0;
}

@media (min-width: 768px) {
  .pt-md-6 {
    padding-top: 5rem !important;
  }
}

.jumbotron {
  height: 33rem;
  background-image: $bg-img;
  background-size: 100% 33rem;
  background-repeat: no-repeat;
  background-color: white;
  padding: 0;
  padding-top: 1rem;
  border-radius: 0;

  .container-fluid {
    .logo {
      height: 2.5rem;
    }

    .app-name-img {
      width: 20rem;
    }

    .page-title {
      padding-top: 1rem;
      padding-bottom: 2rem;
      color: white;
      /** In sync with .app-name-img width. */
      width: 20rem;
      font-size: 1rem;
      font-family: 'Source Sans Pro', sans-serif;
    }

    .page-title-upper-space {
      height: 8rem;
    }

    @media (max-width: 1412px) {
      .app-name-img {
        width: 18rem;
      }

      .page-title {
        width: 20rem;
      }
    }

    @media (max-width: 1200px) {
      .app-name-img {
        width: 15rem;
      }

      .page-title {
        width: 18rem;
      }
    }

    @media (max-width: 768px) {
      .app-name-img {
        width: 12rem;
      }

      .page-title {
        width: 15rem;
      }

      height: 20rem;
    }
  }


  /** Make top part smaller on small screen. */
  @media (max-width: 768px) {
    height: 26rem;

    .container-fluid {
      .page-title-upper-space {
        height: 4rem;
      }

      .logo {
        height: 1.5rem;
      }
    }
  }
}

.picture-wall {
  height: 10rem;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.img-container {
  padding-right: 2rem;
}

.img-responsive {
  width: 12rem;
  -webkit-transition-timing-function: ease-in-out; /* Safari and Chrome */
  transition-timing-function: ease-in-out;
  border-radius: 5px;
  padding-bottom: 2rem;
}

.footer {
  margin-bottom: -15px;
  padding-left: 15px;
  background-color: #F8F8F8;
  text-align: center;

  p {
    text-align: left;
    /*margin-top: 1rem;*/
  }

  /** So that social media icons can align to the left */
  @media (max-width: 576px) {
    .col-sm-6 {
      a {
        float: left;
      }


    }
  }
}

.social-icon {
  height: 50rem;
  idth: 50;
  margin-right: 10px;
}

/** TODO: factor out common css styles */
.introduction-container {
  margin-top: 3rem;

  /** Make top part smaller on small screen. */
  @media (max-width: 768px) {
    margin-top: 1rem;
  }

  .mobile-img-container {
    display: none;

    .mobile-img {
      width: 25rem;
    }

    @media (max-width: 1412px) {
      .mobile-img {
        width: 23rem;
      }
    }

    @media (max-width: 1200px) {
      .mobile-img {
        width: 20rem;
      }
    }
  }

  .email {
    .email-form-title {
      height: 4rem;

      @media (min-width: 990px) {
        padding-top: 2rem;
      }

      h1 {
        color: #B272F3;
        vertical-align: middle;
        font-size: 1.5rem;
      }

      p {
        color: #6B7C93;
        font-family: 'PingFang SC', sans-serif;
        margin-bottom: 2rem;
        font-size: 0.8rem;
      }
    }

    .email-form-footer {
      color: #A1ADBD;
      margin-top: 2rem;
    }

    .email-form {
      margin-top: 2rem;

      input {
        font-size: 1rem;
        vertical-align: middle;
        border-right-color: white;
      }

      button {
        padding: 7px 10px;
        background-color: #fff;
      }
    }
  }
}
